.env
elt-env/
elt_scripts/
*.pyc
data/*
.DS_Store

# Jekyll specific
website/_site/
website/.sass-cache/
website/.jekyll-cache/
website/.jekyll-metadata
website/Gemfile.lock
website/.bundle/
website/vendor/
